<%= form_for(@idea, :html => {:multipart => true}) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Show us the fucking mess!", :class=>"form_label"%>
    <%= f.file_field :picture, :class=> 'large' %>
  </div>
  <div class="field">
    <%= f.label "Describe the fucking mess!", :class=>"form_label"%>
    <%= f.text_area :description, :class=>"description"%>
  </div>
  <div class="field stereo">

    <% (1..Idea.fucking_messages.count).each do |prio| %>
      <%= f.radio_button :priority, prio %>
      <%= f.label :priority, Idea.fucking_messages["#{prio}"], :value => prio %><br />
    <% end -%>
    
  </div>
  <div class="field">
  <%= f.label "E-Mail of the fucker who has to clean it:", :class=>"form_label"%>
  <%= f.text_field :email, :class=>"fucker_mail"%>
  </div>
  <div>
    <%= f.submit "Fuck it", :class=>"btn btn-inverse" %>
  </div>
<% end %>



