<%= link_to image_tag("logo_small.png", :class => "logo_small"), "/pages/start" %>
<div class="background">
<p>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>
<p class="mess_description">
  <%= @idea.description %>
</p>


<% if @idea.done == true %>
	<%= image_tag("youfuckingdidit.png", :class => "you_fucking_did_it") %>
	<%= audio_tag("fucking_dit_it.mp3", :autoplay => true, :controls => false) %>
<% else %>
	<p>
	<%= @idea.fuck_message %>
	</p>
	<%#= button_to "fucking do it", idea_url(@idea, :idea => {:done => true}) , :method => :put, :id => "you_fucking_did_it" %>
	<%= link_to image_tag("ifuckingdidit.png", :class => "you_fucking_did_it"), idea_url(@idea, :idea => {:done => true}), :method => :put, :id => "you_fucking_did_it" %>

<% end %>

</div>
