<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<audio controls="controls">
  <source src="/pirate.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
</audio>
<div class="wrapper">
  <div class="flash_message">
    <%= flash[:notice] %>
  </div>
        <%= yield %>
</div>
</body>
</html>
